@using PamiApp.Components.Pages
@inherits LayoutComponentBase

<div class="page">

    <header class="header">
        <ToogleMenu />
    </header>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

