@page "/gestantes"



<PageTitle>Gestantes</PageTitle>

<h1>Gestantes</h1>

Welcome to your new app.

<br>



<!-- <table class="table">
        <thead>
            <tr>
                <th>CMF</th>
                <th>Nombre y Apellidos</th>
                <th>Edad</th>
                <th>Carnet de Identidad</th>
                <th>Direccion Particular</th>
                <th>Raza</th>
                <th>Tiempo Gestacional</th>
                <th>Telefono</th>
                <th>Antecedentes Patologicos Personales</th>
                <th>Datos Relevantes</th>
                <th>Fecha de ultima menstruacion</th>
                <th>Gestaciones</th>
                <th>Partos</th>
                <th>Abortos</th>
                <th>Cesareas</th>
                <th>Clasificacion de Riesgo</th>
                <th>Municipio</th>
                <th>Consejo Popular</th>
                <th>Area de Salud</th>
                <th>Circunscripcion</th>
                <th>CDR</th>
                <th>Provincia</th>
                <th>Antecedentes de Partos Pretermino</th>
                <th>Fecha de Captacion</th>
                <th>Antecedentes Maternos de RCIU</th>
                <th>IMC</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

</table>-->